#main-window #TabsToolbar {
  height: 3em !important;
  overflow: hidden;
  transition: height .1s .1s !important;
}
#main-window[titlepreface*="SIDEBERYPREFACEVAL"] #TabsToolbar {
  height: 0 !important;
}
#main-window[titlepreface*="SIDEBERYPREFACEVAL"] #tabbrowser-tabs {
  z-index: 0 !important;
}
